.acceuil__quote{
    text-align: center;
    margin: 2rem auto 4rem;
}
.acceuil__who{
    background-color: var(--primary-bgc-color);
    color: var(--primary-light-color);
    text-align: center;
    padding: 3rem 2rem 7rem;
    background-image: url(../img/LOGO_Vierge\ -\ Haut.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    font-size: 1.7rem;
}
.acceuil__who-title{
    font-family: var(--title--font-family);
    color: var(--primary-light-color);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-bottom: 2rem;
}
.acceuil__who-text{
    color: var(--primary-light-color);
    font-size: 0.5em;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.acceuil__who-place{
    color: var(--primary-light-color);
    font-size: 0.5em;
}
.accueil__cards{
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    width: 80vw;
    margin-top: 1rem;
}
.card__img{    
    margin-bottom: 1rem;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}
.card__title{
    text-align: center;
    font-family: var(--title--font-family);
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin-bottom: 1rem;
}
.card__text{
    line-height: 2em;
    font-weight: lighter;
    text-align: center;
    font-size: 0.8em;
}

.carrousel{
    position: relative;
    height: 600px;
    overflow: hidden;
}
.carrousel__container{
    height: 600px;
}
.carrousel__img{
    float: left;
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-position: center;
    /* transition: 1000ms; */
}
.carrousel__img1{
    background-image: url(/img/carrousel/1.jpg);
}
.carrousel__img2{
    background-image: url(/img/carrousel/2.jpg);
}
.carrousel__img3{
    background-image: url(/img/carrousel/3.jpg);
}
.carrousel__img4{
    background-image: url(/img/carrousel/4.jpg);
}
.carrousel__img5{
    background-image: url(/img/carrousel/5.jpg);
}
.carrousel__img6{
    background-image: url(/img/carrousel/6.png);
}
.carrousel__img7{
    background-image: url(/img/carrousel/7.jpg);
}
.carrousel__img8{
    background-image: url(/img/carrousel/8.jpg);
}
.carrousel__img9{
    background-image: url(/img/carrousel/9.jpg);
}
.carrousel__img10{
    background-image: url(/img/carrousel/10.jpg);
}
.carrousel__img11{
    background-image: url(/img/carrousel/11.jpg);
}

.carrousel__nav{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.carrousel__link{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3) ;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 25px;
    transition: 200ms;
    margin: 0.15rem;
}
.carrousel__link:hover, .carrousel__active{
    background-color: var(--primary-light-color) ;
}
.carrousel__link:hover{
    transform: scale(1.3);
}
