@media screen and (min-width:450px ) {   
    .header{
        flex-direction: column;
        padding: 0;
    }
    .nav{
        display: flex;
        width: 100%;
        visibility: visible;
        opacity: 1;
        height: auto;
    }    
    .nav__burger, .nav__burger-toggle{
        display: none;
    } 
    .nav__navbar{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
    }    
    .nav__contact{
        padding-top: 0;
        flex-direction: row;
        text-align: center;
    }
    .header__brand{
        display: block;
        width: 15vw;
    }
    .nav__burger {
        font-size: 25px;
        margin: 0;
    }
    .header__title{
        display: block;
        font-size: 1.2em;
        margin-bottom: 1rem;
    }   
    .header__full-brand{
        display: none;
    } 
}
@media screen and (min-width:800px) {
    .footer__about-logo{
        display: flex;
    }
    .footer__about-title{
        display: none;
    }
    .footer__about{
        padding-top: 1rem ;
        display: flex;
    }
    .footer__about-type{
        font-size: 1.4rem;
    }
    .footer__about-contact{
        font-size: 0.8rem;
        /* gap: 0.3rem; */
    }
}

@media screen and (min-width:950px) {
    .header{
        padding: 2rem 0 2rem;
        display:block;
    }
    .nav{
        background-color: var(--secondary-bgc-color);
        position: fixed;
        top: 0;
        flex-direction: row;
        padding: 0.5rem 3rem;
        align-items: center;
    }    
    .nav__navbar{
        padding: 0;
    }
    .nav__contact{
        padding-bottom: 0;
    }
    .nav__burger-toggle:checked ~ .nav {
        display: flex;
    }
    .header__brand{
        margin: 0 auto;
        width: 10vw;
    }
    .header__title{
        font-size: 1.5rem;
    }
    .footer__about-type{
        font-size: 1.6rem;
    }
}

@media screen and  (min-width:1400px) {
    html{
        font-size:larger;
    }
    
}