:root{
    --secondary-bgc-color : #f0f0f0;
    --primary-bgc-color : #aabcbf;
    --primary-light-color : #fff;
    --primary-dark-color: #000;
    --title--font-family: 'Cabin', sans-serif;
    --primary--font-family: 'Nunito', sans-serif;
}
body{
    background-color: #0f0;
}