.header{
    background-color: var(--primary-bgc-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav{
    background-color: var(--primary-bgc-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 0.65rem;
    width: 100%;
    font-size: 0.9rem;
    z-index: 2 ;
}
.nav__burger {
    text-align: center;
    font-size: 30px;
    color: var(--primary-light-color);
    cursor: pointer;
    margin: 1.5rem 0;
    width: 4rem;
}
.nav__burger-toggle{
    display: none;
}
.nav__navbar{
    display: none;
    flex-wrap: wrap;
    background-color: var(--secondary-bgc-color);
    gap: 1rem;
    padding: 0.5rem 0;
    flex-direction: column;
    text-align: center;
    transition: 1s;

}
.nav__burger-toggle:checked ~ .nav .nav__navbar {
    display: flex;
    
}
.nav__navbar-link:hover{
    color: var(--primary-color);
}
.nav__contact{
    background-color: var(--secondary-bgc-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
}
.nav__contact-mail:hover{
    color: var(--primary-color);
}
.header__brand{
    display: none;
}
.header__title{
    display: none;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    color: var(--primary-light-color);
}
.header__full-brand{
    width: 50vw;
    margin-left: 1rem;
}
.footer{
    background-color: var(--secondary-bgc-color);
    display: flex;
    flex-direction: column;
}
.footer__about{
    padding: 0 2rem ;
    justify-content: space-evenly;
    align-items: center;
}
.footer__about-logo{
    display: none;
    width: 10vw;
}
.footer__about-title{
    margin-top: 0.8rem;
    font-size: 1.2rem;
    text-align: center;
}
.footer__about-type{
    font-family: var(--title--font-family);
    text-align: center;
    font-size: 1.2rem;
    margin: 0.8rem 0;
}
.footer__about-who{
    margin-bottom: 0.8rem;
}
.footer__about-contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.9rem;
}
.footer__about-mail:hover{
    color: var(--primary-color);
}
.footer__about-insta{
    background-image: url(../img/headFoot/Instagram.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
}

@keyframes backgroundIMG-insta {
    100% { background-image: url(../img/headFoot/instaColor.png); }
}

.footer__about-insta:hover{
  animation: backgroundIMG-insta 300ms linear;
  animation-fill-mode: forwards;
}

.footer__legal{
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.8rem;
}
.footer__legal-start-text a:hover{
    color: var(--primary-color);
}
.footer__legal-mention{
    text-decoration: underline;
}
.legal{
    height: 100%;
    width: 100vw;
    background-color: var(--secondary-bgc-color);
    z-index: 1;
    font-size: 0.8rem;
    color: var(--primary-light-color);
    overflow: scroll;
}
.legal__container{
    height: 100%;
    position: relative;
    width: 65vw;
    margin: 0 auto;
    border: 1px solid transparent;
}
.legal__title{
    text-align: center;
    font-family: var(--title--font-family);
    font-size: 1.5em;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.legal__subtitle{
    text-align: center;
    font-size: 1.1em;   
    font-weight: bold; 
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.legal__text{
    line-height: 1.75rem;
    text-align: center;
}
.hide-display{
    display: none;
}
.close{
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: inline-block;
    right: 0.5rem;
    top: 1rem;
    cursor: pointer;
    transition: 300ms;
}
.close:hover{
    transform: scale(1.2);
}
.close__icon{
    display: inline-block;
    position: relative;
    width: 100%;
}
.close__icon:after,.close__icon:before {
    content: '';
    position: absolute ;
    background: var(--primary-dark-color);
    border-radius: 0.10rem;
    height: 0.20rem;
    width: 100%;
}

.close__icon:before{
    transform: rotate(-45deg);
}
.close__icon:after{
    transform: rotate(45deg);
}
