@media  screen and (min-width:700px) {
    .accueil__cards{
        justify-content: space-around;
    }
    .card-v{
        width: 40%;
        font-size: 1rem;
    }
    
}

@media  screen and (min-width:1000px) {
    .accueil__cards{
        width: 85vw;
        margin: 0 auto;
    }
    .accueil__cards{
        justify-content: center;
    }
    .card-v{
        width: 20%;
    }
    .accueil__who{
        background-size: contain;
    }
    
}


