.accueil__quote{
    text-align: center;
    margin: 2rem auto 4rem;
}
.title{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    font-size: 1.8rem;
}
.subtitle{
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 3rem;
}
.text{
    line-height: 2em;
    font-weight: lighter;
    font-size: 0.8em;
    margin: 2rem 0;
}
.band{
    text-align: center;
    font-size: 1.7rem;
    padding: 5rem 0;
}
.band-title{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-bottom: 2rem;
}
.band-text{
    font-size: 0.6em;
    line-height: 1.5rem;
}
.accueil .band-place{
    font-size: 0.5em;
}
.accueil .band{
    background-color: var(--primary-bgc-color);
    color: var(--primary-light-color);
    background-image: url(../img/home/LOGO_Vierge\ -\ Haut.png);
    padding: 3rem 2rem 7rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.accueil .band-title{
    font-family: var(--title--font-family);
    color: var(--primary-light-color);
}
.accueil .band-text{
    color: var(--primary-light-color);
    line-height: 2rem;
    margin-bottom: 2rem;
}
.accueil .band-place{
    color: var(--primary-light-color);
}
.accueil__detail{
    padding: 2rem 0.8rem;
}
.accueil__detail div{
    padding-bottom: 1.9rem;
}
.accueil__detail-title{
    font-size: 1.2em;
    line-height: 2rem;

}
.accueil__detail-text{
    font-size: 0.8em;
    line-height: 1.5rem;

}
.accueil__cards{
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.intro{
    margin-bottom: 6rem;
}
.about{
    margin: 7rem auto;
    text-align: center;
    max-width: 50vw;
}
.about a{
    text-decoration: underline;
}
.about__subtitle{
    margin-bottom: 4rem;
}
.about__subtitle-strong{
    font-weight: bold;
}
.about__coop{
    margin-top: 7rem;
}
.contact__container{
    text-align: center;
    margin: 7rem auto;
    max-width: 50vw;
}
.contact__form{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.contact__form-label{
    font-size: 0.8rem;
    padding-left: 0.2rem;
}
.contact__form-input{
    padding: 0.8rem 0.3rem;
    margin-bottom: 0.3rem ;
    border: none;
    border-bottom: solid var(--primary-dark-color) 1.5px;
}
.contact__form-input:hover{
    border: solid var(--primary-dark-color) 1.5px;
}
.contact__form-submit{
    margin: 2rem 0;
    padding: 0.8rem 0;
    color: var(--primary-light-color);
    background-color: var(--primary-bgc-color);
    border: none;
}
.contact__form-submit:hover{
    background-color: var(--primary-dark-color);
}
.card-v{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    width: 80vw;
    margin-top: 1rem;
}
.card-v .card__content{
    text-align: center;
}
.card-h{
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50vw;
}
.card-h .card__content{
    text-align: end;
}
.card__content{
    text-align: center;
}
.card__img-p{    
    margin-bottom: 1rem;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}
.card__img{
    min-width: 460px;
    object-fit: cover;
    object-position: 50% 50%;

}
.card__title{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    
}
.card__subtitle{
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 1rem;
}
.card__text{
    line-height: 2em;
    font-weight: lighter;
    font-size: 0.8em;
}
.carrousel_items{
    height: 800px;
    background-size: cover;
    background-position: center;
} 
.carrousel__img1{
    background-image: url('../img/carrousel/1.jpg');
}
.carrousel__img2{
    background-image: url('../img/carrousel/2.jpg');
}
.carrousel__img3{
    background-image: url('../img/carrousel/3.jpg');
}
.carrousel__img4{
    background-image: url('../img/carrousel/4.jpg');
}
.carrousel__img5{
    background-image: url('../img/carrousel/5.jpg');
}
.carrousel__img6{
    background-image: url('../img/carrousel/6.png');
}
.carrousel__img7{
    background-image: url('../img/carrousel/7.jpg');
}
.carrousel__img8{
    background-image: url('../img/carrousel/8.jpg');
}
.carrousel__img9{
    background-image: url('../img/carrousel/9.jpg');
}
.carrousel__img10{
    background-image: url('../img/carrousel/10.jpg');
}
.carrousel__img11{
    background-image: url('../img/carrousel/11.jpg');
}
