<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions légales</title>
</head>
<body>
    <h1 class="legal__title">POLITIQUE DE CONFIDENTIALITÉ</h1>
    <h2 class="legal__subtitle">1. Gestion des données personnelles</h2>
    <p class="legal__text">Le client est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la confiance dans l’Economie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).</p>
    <h2 class="legal__subtitle">2. Responsable de la collecte des données personnelles</h2>
    <p class="legal__text">Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de l’Utilisateur et de sa navigation sur le Site, le responsable du traitement des Données Personnelles est : CR Concepteur, Aménageur d'intérieur</p>
    <p class="legal__text">En tant que responsable du traitement des données qu’elle collecte, CR Concepteur, Aménageur d'intérieur s’engage à respecter le cadre des dispositions légales en vigueur. Il lui appartient notamment d’établir les finalités de ses traitements de données, de fournir à ses prospects et clients une information complète sur le traitement de leurs données personnelles ainsi que de maintenir un registre des traitements conforme à la réalité. Chaque fois que CR Concepteur, Aménageur d'intérieur traite des Données Personnelles, nous prenons toutes les mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des finalités pour lesquelles elle les traite.</p>
    <h2 class="legal__subtitle">3. Collecte des renseignements personnels</h2>
    <p class="legal__text">Les données et renseignements personnels qui peuvent être collectés via le site https://cr1terieur.com sont les suivants :</p>
    <p class="legal__text">– Nom</p>
    <p class="legal__text">– Prénom</p>
    <p class="legal__text">– Adresse électronique</p>
    <p class="legal__text">– Numéro de téléphone</p>
    <p class="legal__text">– Type de projet</p>
    <p class="legal__text">– Message complétant la demande</p>
    <p class="legal__text">Les renseignements personnels que nous collectons sont recueillis au travers de formulaires (formulaire de contact, commentaires sur instagram…) et grâce à l’interactivité établie entre vous et notre site Web (notamment via des outils d’analyse comme Google Analytics).</p>
    <p class="legal__text">Cependant, d’autres informations peuvent être collectées par la suite si une relation commerciale vient à se créer entre CR Concepteur, Aménageur d'intérieur et l’utilisateur (pour une demande de devis par exemple) :</p>
    <p class="legal__text">– Nom de l’entreprise</p>
    <p class="legal__text">– Statut</p>
    <p class="legal__text">– Adresse postale</p>
    <p class="legal__text">– Numéro Siret</p>
    <h2 class="legal__subtitle">4. Finalité des données collectées</h2>
    <p class="legal__text">CR Concepteur, Aménageur d'intérieur est susceptible de traiter tout ou partie des données pour:</p>
    <p class="legal__text">permettre la navigation sur le Site et la gestion et la traçabilité des prestations et services commandés par l’utilisateur : données de connexion et d’utilisation du Site, facturation, historique des commandes, etc.</p>
    <p class="legal__text">prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé pour la navigation, l’adresse IP, le mot de passe (hashé).</p>
    <p class="legal__text">améliorer la navigation sur le Site : données de connexion et d’utilisation.</p>
    <p class="legal__text">mener des enquêtes de satisfaction facultatives sur https://cr1terieur.com  : adresse email.</p>
    <p class="legal__text">mener des campagnes de communication (sms, mail) : numéro de téléphone, adresse email.</p>
    <p class="legal__text">CR Concepteur, Aménageur d'intérieur ne commercialise pas vos données personnelles qui sont donc uniquement utilisées par nécessité ou à des fins statistiques et d’analyses.</p>
    <p class="legal__text">5. Droit d’accès, de rectification, d’opposition et de retrait</p>
    <p class="legal__text">Conformément à la réglementation européenne en vigueur, les Utilisateurs de https://cr1terieur.com disposent des droits suivants :</p>
    <p class="legal__text underline">Droit d’accès</p>
    <p class="legal__text">Nous reconnaissons un droit d’accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant. Pour pouvoir exercer ces droits, contactez : cr_interieur@hotmail.com</p>
    <p class="legal__text underline">Droit d’opposition et de retrait</p>
    <p class="legal__text">Nous vous offrons un droit d’opposition et de retrait quant à vos renseignements personnels. Le droit d’opposition s’entend comme étant la possibilité offerte aux internautes de refuser que leurs renseignements personnels soient utilisées à certaines fins mentionnées lors de la collecte. Pour pouvoir exercer ces droits, contactez : cr_interieur@hotmail.com</p>
    <p class="legal__text underline">Droit de rectification</p>
    <p class="legal__text">Nous nous engageons à vous offrir un droit de rectification quant à vos renseignements personnels.  Le droit de rectification s’entend comme étant la possibilité offerte aux internautes de modifier les renseignements personnels confiés à CR Concepteur, Aménageur d'intérieur. Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que CR Concepteur, Aménageur d'intérieur corrige ou mette à jour. Pour pouvoir exercer ces droits, contactez : cr_interieur@hotmail.com</p>
    <h2 class="legal__subtitle">6. Non-communication des données personnelles</h2>
    <p class="legal__text">Nous promettons de ne pas commercialiser les renseignements personnels collectés.</p>
    <p class="legal__text">CR Concepteur, Aménageur d'intérieur reste cependant libre du choix de ses sous-traitants techniques et commerciaux à la condition qu’il présentent les garanties suffisantes au regard des exigences du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).</p>
    <p class="legal__text">CR Concepteur, Aménageur d'intérieur s’engage à prendre toutes les précautions nécessaires afin de préserver la sécurité des Informations et notamment qu’elles ne soient pas communiquées à des personnes non autorisées. Cependant, si un incident impactant l’intégrité ou la confidentialité des Informations du Client est portée à la connaissance de CR Concepteur, Aménageur d'intérieur, celle-ci devra dans les meilleurs délais informer le Client et lui communiquer les mesures de corrections prises. Par ailleurs CR Concepteur, Aménageur d'intérieur ne collecte aucune « données sensibles ».</p>
    <h2 class="legal__subtitle">7. Cookies</h2>
    <p class="legal__text">La navigation sur le site https://cr1terieur.com peut entraîner l’installation de cookie(s) sur l’ordinateur de l’utilisateur, qui enregistre des informations relatives à sa navigation. Les cookies ont, entre autres, vocation à mesurer la fréquentation du site internet. </p>
    <p class="legal__text">CR Concepteur, Aménageur d'intérieur est susceptible de traiter les informations de l’utilisateur concernant sa visite du site, telles que les pages consultées, les recherches effectuées. Ces informations permettent à CR Concepteur, Aménageur d'intérieur d’améliorer le contenu du site, de la navigation de l’utilisateur. </p>
    <p class="legal__text">À tout moment, l’utilisateur peut faire le choix d’exprimer et de modifier ses souhaits en matière de Cookies.</p>
    <p class="legal__text">Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation des cookies :</p>
    <p class="legal__text">Sous Internet Explorer : onglet outil (pictogramme en forme de rouge en haut a droite) / options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.</p>
    <p class="legal__text">Sous Firefox : en haut de la fenêtre du navigateur, cliquez sur le bouton Firefox, puis aller dans l’onglet Options. Cliquer sur l’onglet Vie privée. Paramétrez les Règles de conservation sur : utiliser les paramètres personnalisés pour l’historique. Enfin décochez-la pour désactiver les cookies.</p>
    <p class="legal__text">Sous Safari : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par un rouage). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section « Confidentialité », cliquez sur Paramètres de contenu. Dans la section « Cookies », vous pouvez bloquer les cookies.</p>
    <p class="legal__text">Sous Chrome : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois lignes horizontales). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section « Confidentialité », cliquez sur préférences. Dans l’onglet « Confidentialité », vous pouvez bloquer les cookies.</p>
</body>
</html>
