<footer class="footer">
    <div class="footer__about">
        <h2 class="footer__about-title">CR Concepteur, Aménageur d'intérieur</h2>
        <img class="footer__about-logo" src="/img/headFoot/LOGO.png" alt="Logo CR Concepteur, Aménageur d'intérieur">
        <div class="footer__about-type">
            <h4 class="footer__about-who">- Architecte d'intérieur -</h4>
            <p class="footer__about-place">Lyon et sa région</p>
        </div>
        <div class="footer__about-contact">
            <a class="footer__about-mail" href="mailto:cr_interieur@hotmail.com">cr_interieur@hotmail.com</a>
            <span class="footer__about-phone">06 69 07 32 64</span>
            <p class="footer__about-adress">69210 Saint Pierre la Palud</p>
            <a class="footer__about-insta" target="_blank" href="https://www.instagram.com/cr_interieur/"></a>
        </div>
    </div>
    <div class="footer__legal">
        <p class="footer__legal-start-text">Directeur de la publication : RIVOIRE Céline / © 2022 par CR Concepteur, Aménageur d'intérieur / 
            <a id="politique-confidence" href="#" class="footer__legal-mention"><strong>Politique de confidentialité</strong></a>
            <span> / </span>
            <a id="mention-legal" href="#" class="footer__legal-mention"><strong>Mentions légales</strong></a>
        </p>
        <p class="footer__legal-end-text">Raison sociale : Calad’impulsion – CR Concepteur, aménageur d'intérieur / Numéro de SIRET : 404 681 306 00043/p>
    </div>
</footer>

</div>
<!-- carrousel slick -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>

</body>
</html>