<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions légales</title>
</head>
<body>
    <h1 class="legal__title">MENTIONS LÉGALES</h1>
    <h2 class="legal__subtitle">1. Responsable du site Internet</h2>
    <p class="legal__text">Propriété du Site https://cr1terieur.wixsite.com/crinterieur :</p>
    <p class="legal__text">Céline Rivoire, gérante de CR Concepteur, aménageur d'intérieur.</p>
    <p class="legal__text">Tel : 06 69 07 32 64</p>
    <p class="legal__text">Email : cr_interieur@hotmail.com</p>
    <p class="legal__text">151 rue des acacias 69210 Saint Pierre la Palud</p>
    <p class="legal__text">Site hébergé par :</p>
    <p class="legal__text">Wix - Wix Online Platform Limited - 1 Grant’s Row, Dublin 2 D02HX96, Ireland - Téléphone : Veuillez cliquer ici.</p>
    <h2 class="legal__subtitle">2. Statut administratif et facturation</h2>
    <p class="legal__text">Raison sociale : CALAD’IMPULSION – CR Concepteur, aménageur d'intérieur</p>
    <p class="legal__text">Siège social : 847 Route de Frans 69400 Villefranche sur Saône</p>
    <p class="legal__text">Numéro de RCS : RCS 404 681 306 Villefranche Tarare</p>
    <p class="legal__text">Numéro de SIRET : 404 681 306 00043 - Numéro de SIREN : 404 681 306 - Capital social : 3.240€ - Numéro de TVA : FR 78 404 681 306</p>
    <h2 class="legal__subtitle">3. Conditions générales d’utilisation</h2>
    <p class="legal__text">Votre utilisation de ce site web induit votre acceptation des conditions générales et mentions d’avertissement.</p>
    <p class="legal__text">Ce site peut contenir des liens vers d’autres sites web. CR Concepteur, aménageur d'intérieur n’assume aucune responsabilité sur le contenu des sites autres que ceux faisant partie du domaine https://cr1terieur.wixsite.com/crinterieur.</p>
    <p class="legal__text">L’ensemble de ce site relève de la législation française et internationale sur le droit d’auteur et la propriété intellectuelle.</p>
    <p class="legal__text">Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables, les représentations iconographiques et photographiques, ainsi que les contenus rédactionnels. Les marques citées appartiennent à leurs propriétaires respectifs.</p>
    <p class="legal__text">La reproduction de tout ou partie de ce site sur un support électronique quel qu’il soit est formellement interdite sauf autorisation expresse du propriétaire du site internet. Vous vous engagez à ne pas utiliser ce site à des fins illicites ou interdites par les lois ou par les mentions légales et contractuelles.</p>
    <h2 class="legal__subtitle">4. Respect de la vie privée</h2>
    <p class="legal__text">Conformément à la loi « Informatique et Liberté » du 06 Janvier 1978, vous disposez d’un droit d’accès et de rectification des données vous concernant. Pour cela il suffit de nous contacter (en nous indiquant vos coordonnées et le cas échéant votre n° client.).</p>
    <h2 class="legal__subtitle">5. Droit d’auteur – Copyright</h2>
    <p class="legal__text">Tous les éléments de toute nature (images fixes, images animées, photographies, bases de données, marques, illustrations, logos, dessins, modèles, documents téléchargeable, etc) contenus dans le site https://cr1terieur.wixsite.com/crinterieur sont protégés par le droit d’auteur. A ce titre, sauf autorisation préalable et écrite de CR Concepteur, aménageur d'intérieur, toute reproduction, représentation, adaptation, modification partielle ou intégrale de tout élément composant le site, par quelque moyen que ce soit, est interdite sous peine de poursuite judiciaire.</p>
    <h2 class="legal__subtitle">6. Description des services fournis</h2>
    <p class="legal__text">Le site Internet https://cr1terieur.wixsite.com/crinterieur a pour objet de fournir une information concernant l’ensemble des activités de la société. CR Concepteur, aménageur d'intérieur s’efforce de fournir sur le site  https://cr1terieur.wixsite.com/crinterieur des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des oublis, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>
    <p class="legal__text">Toutes les informations indiquées sur le site https://cr1terieur.wixsite.com/crinterieur sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site https://cr1terieur.wixsite.com/crinterieur ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
    <h2 class="legal__subtitle">7. Liens hypertextes</h2>
    <p class="legal__text">Tout site Internet est autorisé à établir, sans accord préalable, un lien vers les informations diffusées sur le site de CR Concepteur, aménageur d'intérieur. Néanmoins, les pages et les documents issus de https://cr1terieur.wixsite.com/crinterieur ne doivent pas être imbriqués à l’intérieur des pages d’un autre site (iframe).</p>
    <p class="legal__text">L’autorisation de mise en place d’un lien est valable pour tout support, à l’exception de ceux diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure, porter atteinte à la sensibilité du plus grand nombre.</p>
    <p class="legal__text">CR Concepteur, aménageur d'intérieur ne peut, en aucun cas, être tenu pour responsable des informations diffusées sur les sites qui font l’objet d’un lien hypertexte à partir de https://cr1terieur.wixsite.com/crinterieur.</p>
    <h2 class="legal__subtitle">8. Garanties et responsabilités</h2>
    <p class="legal__text">Les informations diffusées sur le site de CR Concepteur, aménageur d'intérieur  sont fournies sans garantie d’aucune sorte, autre que celles prévues par la loi en vigueur, et notamment sans garantie que le contenu réponde aux besoins de l’utilisateur ou à l’usage qu’il sera amené en faire. L’utilisateur est seul responsable de toute utilisation qu’il fera des informations diffusées sur https://cr1terieur.wixsite.com/crinterieur.</p>
    <p class="legal__text">CR Concepteur, aménageur d'intérieur ne pourra pas être tenue responsable des dommages directs ou indirects résultant de l’usage de son site ou d’autres sites qui lui sont liés, et notamment des éventuelles pertes financières ou préjudices commerciaux pouvant en résulter.</p>
</body>
</html>
