<%- include('partials/header') %>
    <main class="about">
        <img src="/img/about/2022_RHINO_edited_edited.webp" alt="dessins rhinocéros">
        <h1 class="title">À PROPOS DE CR INTÉRIEUR</h1>
        <h2 class="about__subtitle"><span class="about__subtitle-strong">C</span>oncepteur, Aménageur d'intérieu<span class="about__subtitle-strong">R</span></h2>
        <h3 class="subtitle">Céline RIVOIRE, créatrice de CR intérieur</h3>
        <p class="text">CR intérieur a été une évidence pour moi : j’ai fait de ma passion mon métier. </p>
        <p class="text">Depuis mon enfance, j’assiste mon père dans ses nombreux travaux. Il m’a transmis sa passion pour le travail manuel et surtout l’importance de la technique et des finitions. Ainsi aujourd’hui j'anticipe chaque détail, chaque contrainte pour atteindre une précision absolue dans mes réalisations.</p>
        <p class="text">'ai toujours cherché à optimiser les espaces pour parvenir au résultat idéal. Il est important pour moi de respecter d’abord la spécificité de chaque intérieur et d’en faire ressortir toute sa richesse.</p>
        <p class="text">Ce que j’aime par-dessus tout, c’est être au cœur d'une idée et la concrétiser en alliant la rigueur à l’esthétique. Je crée des espaces de vie en respectant avec bienveillance la personnalité de chacun.</p>
        <p class="text">Créative, j’aime m'exprimer à travers mes dessins : c’est un moyen pour moi de me livrer entièrement avec authenticité. Tout passe par mon coup de crayon : il reflète mon identité, mes valeurs et signe la singularité de CR intérieur.</p>
        <p class="text">Forte de 8 années d'expérience en création, fabrication, pose et suivi de travaux et entourée d’un réseau de prestataires de confiance, je mets tout mon savoir-faire au service de vos envies pour vous satisfaire pleinement.</p>
        <p class="text about__coop">CR Concepteur, Aménageur d'intérieur est membre de la coopérative d'activités et d'emploi <a href="https://www.calad-impulsion.fr/entrepreneurs/celine-rivoire-interieur-agencement-et-decoration-dinterieur/" target="_blank">Calad'impulsion</a>.</p>
    </main>
<%- include('partials/footer') %>