<%- include('partials/header') %>
<main class="intro">
    <div class="band">
        <h1 class="band-title">PRESTATIONS</h1>
        <p class="band-text">De l'élaboration d'un projet à la main,</p>
        <p class="band-text">en passant par des plans détaillés,</p>
        <p class="band-text">jusqu'à l'organisation et le suivi de vos travaux,</p>
        <p class="band-text">pour une mission partielle ou complète,</p>
        <p class="band-text">CR intérieur vous accompagne à chaque étape.</p>
    </div>
    <article class="card-h">
        <div>
            <img class="card__img" src="/img/intro/1.webp" alt="Plan noir et blanc">
        </div>
        <div class="card__content">
            <h2 class="card_title">1/ PHASE PROJET</h2>
            <div>
                <h3 class="card__subtitle">Création de 2 Avant-Projets</h3>
                <p class="card__text">Comparaison des 2 versions et échange sur vos préférences</p>
                <p class="card__text">afin d’opter pour le projet qui vous correspond</p>
            </div>
            <div>                
                <h3 class="card__subtitle">Mise en place d’un projet définitif</h3>
                <p class="card__text">Évolution du projet et élaboration de plans détaillés</p>
                <p class="card__text">en vue de la réalisation de vos travaux</p>
            </div>
        </div>
    </article>
    <article class="card-h">
        <div>
            <img class="card__img" src="/img/intro/2.webp" alt="Schéma avec côte">
        </div>
        <div class="card__content">
            <h2 class="card_title">2/ PHASE BUDGET</h2>
            <div>
                <h3 class="card__subtitle">Consultation des prestataires</h3>
                <p class="card__text">Restitution de plusieurs chiffrages par corps de métier</p>
                <p class="card__text">Aide à la compréhension et à la comparaison des devis</p>
            </div>
            <div>
                <h3 class="card__subtitle">Budgétisation des travaux</h3>
                <p class="card__text">Constitution d’un budget global prévisionnel</p>
                <p class="card__text">en fonction des devis que vous avez retenus</p>
            </div>
        </div>
    </article>
    <article class="card-h">
        <div>
            <img class="card__img" src="/img/intro/3.webp" alt="Photo travaux en cours">
        </div>
        <div class="card__content">
            <h2 class="card_title">3/ PHASE TRAVAUX</h2>
            <div>
                <h3 class="card__subtitle">Conseils, accompagnement</h3>
                <p class="card__text">Aide dans le choix des matériaux,</p>
                <p class="card__text">des équipements et des détails techniques</p>
            </div>
            <div>
                <h3 class="card__subtitle">Planification, supervision et suivi des travaux</h3>
                <p class="card__text">Assistance dans la gestion de vos travaux</p>
                <p class="card__text">et suivi de réalisation du projet</p>
            </div>
        </div>
    </article>
    <article class="card-h">
        <div>
            <img class="card__img" src="/img/intro/4.webp" alt="Façade avant maison refaite">
        </div>
        <div class="card__content">
            <h2 class="card_title">À LA DEMANDE</h2>
            <div>
                <h3 class="card__subtitle">Dossier de plans de permis de construire*</h3>
                <p class="card__text">Surface habitable inférieure à 150m2</p>
            </div>
            <div>
                <h3 class="card__subtitle">Plan de projet et plan technique</h3>
                <p class="card__text">État des lieux, Avant-projet supplémentaire.</p>
                <p class="card__text">Calepinage des revêtements sols, Éclairages, Prises ...</p>
            </div>
            <div>
                <h3 class="card__subtitle">Perspective à la main</h3>
                <p class="card__text">En couleurs ou noir et blanc</p>
                <p class="card__text">Création d’un avant-projet, mise en valeur d’un projet ...</p>
            </div>
            <div>
                <p class="card__text">*Plans réglementaires, photos et notice nécessaires aux dossiers de</p>
                <p class="card__text">demande de permis de construire (ou déclaration préalable de travaux)</p>
                <p class="card__text">d'une surface habitable inférieure à 150m.</p>
            </div>
        </div>
    </article>
    <div class="card__content">
        <h3 class="card__subtitle">Le premier RDV est gratuit et sans engagement.</h3>
        <p class="card__text">Les prestations sont modulables et accessibles à tous.</p>
        <p class="card__text">Chaque projet est étudié en fonction de vos besoins, de vos attentes, au plus proche de vos envies.</p>
    </div>
</main>
<%- include('partials/footer') %>